body {
  font-family: "Barlow Condensed", sans-serif !important;
}
h1 {
  padding-top: 20px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;

  color: rgb(94, 93, 93);
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 700px;
  margin: 60px auto;
}
.weather-app {
  padding: 40px;
  border: 1px solid #ced0d3;
  border-radius: 4px;
}

.temperature-container {
  margin-top: 30px;
}
.temperature-container img {
  width: 64px;
  height: 64px;
}
span#temperature {
  font-size: 70px;
  line-height: 1;
}
span#units {
  font-size: 20px;
  line-height: 1;
  position: relative;
  top: -34px;
}
