body {
  font-family: "Barlow Condensed", sans-serif !important;
}
h1 {
  padding-top: 20px;
  color: #00204a;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(94, 93, 93);
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
}
li::first-letter {
  text-transform: capitalize;
}

.col-3.pr-0 {
  padding-left: 0px;
}
.weather-app-wrapper {
  max-width: 700px;
  margin: 60px auto;
}
.weather-app {
  padding: 40px;
  border: 1px solid #ced0d3;
  border-radius: 4px;
  background: radial-gradient(
    circle at 0.7% 1%,
    rgb(215, 248, 247) 0%,
    rgb(102, 188, 239) 100.2%
  );
}

.btn-primary {
  color: black;
  background-color: #fefaec;
}

.btn-primary:hover {
  color: #fff;
  background-color: #005792;
}

.form-control {
  background-color: #fff9;
}

.temperature-container {
  margin-top: 40px;
}
.temperature-container img {
  width: 64px;
  height: 64px;
}

span#temperature {
  font-size: 70px;
  line-height: 1;
  color: #00204a;
}
span.units {
  font-size: 18px;
  line-height: 1;
  position: relative;
  top: -34px;
}

.temperature-container .active {
  color: rgb(94, 93, 93);
  cursor: default;
}
.temperature-container .active:hover {
  text-decoration: none;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
}
.weather-forecast-day {
  font-size: 18px;
  opacity: 0.9;
  color: #b65935;
}
.weather-forecast-temperature-min {
  opacity: 0.8;
}

.weather-forecast-temperatures {
  font-size: 15px;
}
